<h1>聯誼名單</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Gender</th>
      <th>Bike</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classmates.each do |classmate| %>
      <tr>
        <td><%= classmate.name %></td>
        <td><%= classmate.school %></td>
        <td><%= classmate.gender %></td>
        <td><%= classmate.bike %></td>
        <td><%= link_to '詳細資料', classmate %></td>
        <td><%= link_to '編輯', edit_classmate_path(classmate) %></td>
        <td><%= link_to '刪除', classmate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classmate', new_classmate_path %>
